In [1]:
import pandas as pd
import numpy as np
import sklearn.cluster as sklc
from sklearn.preprocessing import MinMaxScaler
from sklearn.manifold import TSNE

In [2]:
df = pd.read_csv('features_only_updated2.csv')

In [3]:
df

,alt_max,dist,down_acc,horiz_speed,up_acc,vert_speed
0,282.000000,1.869275e+04,0.0,37.352853,1.477734,NaN
1,11582.000000,1.495356e+06,0.0,133.425307,828.523214,NaN
2,3635.000000,1.666011e+05,0.0,104.179121,2.462938,NaN
3,671.000000,1.078771e+05,0.0,109.198821,2.660062,NaN
4,503.000000,1.908652e+04,0.0,56.432251,1.322992,NaN
...,...,...,...,...,...,...
11060,2537.746937,3.073737e+03,NaN,-6.515848,NaN,4.894569
11061,3106.582017,2.890184e+03,NaN,-7.580915,NaN,5.560842
11062,3575.930522,4.052327e+03,NaN,-3.811428,NaN,2.896177
11063,2370.691320,2.982080e+03,NaN,-9.278826,NaN,8.555682
11064,2344.625388,3.012022e+03,NaN,-8.378764,NaN,3.497735

In [4]:
df.describe()

,alt_max,dist,down_acc,horiz_speed,up_acc,vert_speed
count,11065.000000,1.106500e+04,6865.0,11065.000000,6850.000000,4200.000000
mean,5012.236790,1.017375e+06,0.0,97.041727,6.126207,0.470705
std,4540.190330,2.986065e+06,0.0,107.692822,11.411432,1.105996
min,-201.408012,-2.313441e-01,0.0,-13.592893,1.016949,-1.046500
25%,569.556477,2.754108e+00,0.0,-0.530442,3.953785,0.000000
50%,3696.000000,1.890940e+05,0.0,101.001695,5.016747,0.417011
75%,9495.000000,1.079288e+06,0.0,173.807705,6.696984,0.512188
max,18105.000000,3.831454e+07,0.0,3104.974164,828.523214,9.756389

In [5]:
scaler = MinMaxScaler()

In [6]:
df_matrix = scaler.fit_transform(df)

In [7]:
df_matrix = np.asarray(df_matrix)

In [8]:
clus = sklc.KMeans(6, n_init = 100, max_iter = 2000, algorithm = 'elkan').fit(df_matrix)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
kmeans_labels = clus.labels_

In [ ]:
clus.n_iter_

In [ ]:
df['clus_id'] = kmeans_labels

In [ ]:
groups = df.groupby(['clus_id'])

In [ ]:
groups.count()

In [ ]:
groups.mean()

In [ ]:
X_embedded = TSNE(n_components = 2).fit_transform(df_matrix)

In [ ]:
num_clus = 6

In [ ]:
l = []
for i in range(num_clus):
    new_list = []
    l.append(new_list)
for i, x in enumerate(X_embedded):
    l[kmeans_labels[i]].append(x)
for i in range(num_clus):
    l[i] = np.asarray(l[i])

In [ ]:
l = np.asarray(l)

In [ ]:
l

In [ ]:
l[7]

In [ ]:
import matplotlib.pyplot as plt
for i,x in enumerate(l):
    plt.plot(x[:,0], x[:,1], '.', label = 'cluster '+ str(i))
plt.legend()
plt.show()

In [ ]:
X_2 = X_embedded

In [ ]:
groups['alt_max'].count()

In [ ]:
groups.mean()

In [ ]:
plt.plot(df['clus_id'], '.')
plt.show()

In [ ]:
main_df = pd.read_csv('features.csv')

In [ ]:
main_df

In [ ]:
df['dist'] = np.sqrt(main_df['dist'])

In [ ]:
main_df['horiz_speed'] *= 111000
main_df['dist'] *= 111000

In [ ]:
main_df['clus_id'] = kmeans_labels

In [ ]:
plot_df = pd.DataFrame()

In [ ]:
plot_df['filename'] = main_df['fname']

In [ ]:
plot_df['x'] = X_embedded[:,0]
plot_df['y'] = X_embedded[:,1]
#plot_df['z'] = X_embedded[:,2]

In [ ]:
plot_df['clus_id'] = clus.labels_

In [ ]:
plot_df.to_csv('tsne_3d_plot.csv', index = False)

In [ ]:
plot_df.groupby(['clus_id']).get_group(2)['filename'].to_csv('files_clus_2.csv', index = False)

In [ ]:
plot_df

In [ ]:
plt.plot (np.random.normal(5, 0.6, 100))
plt.show()